<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body  th:fragment="content">
	
		<ul class="breadcrumb">
		  <li><a href="/univ">Universitas</a></li>
		  <li><a th:href="'/univ/' + ${prodi.universitas.kode_univ}" th:text="${prodi.universitas.nama_univ}">Universitas</a></li>
		  <li class="active"><div th:text="${prodi.nama_prodi}" th:remove="tag">Prodi</div></li>
		</ul>
	
		<div class="page-header">
			<h1 th:text="${prodi.kode_prodi} + ' - ' + ${prodi.nama_prodi}">
				Nama Prodi
			</h1>
			<h3 th:text="${prodi.universitas.kode_univ} + ' - ' + ${prodi.universitas.nama_univ}">
				Nama Universitas
			</h3>
			<a th:href="${prodi.universitas.url_univ}" th:text="${prodi.universitas.url_univ}">univ_url</a>
		</div>
		
		<p th:text="'Peserta Tertua: ' + ${pesertaTertua.nomor} + ' - ' + ${pesertaTertua.nama} + ', ' + ${pesertaTertua.umur}"/>
		<p th:text="'Peserta Termuda: ' + ${pesertaTermuda.nomor} + ' - ' + ${pesertaTermuda.nama} + ', ' + ${pesertaTertua.umur}"/>
		
		<br/><br/>
		
		<table id="datatables_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
			<col width="15%"/>
	  		<col width="75%"/>
	  		<col width="10%"/>
			<thead>
	        	<tr>
					<th>Nomor Peserta</th>
					<th>Nama Peserta</th>
			    	<th class="text-center">Menu</th>
				</tr>
			</thead>
			<tbody>
	    		<tr th:each="peserta,iterationStatus: ${listPeserta}">
		            <td th:text="${peserta.nomor}">ID. 1</td>
			       	<td th:text="${peserta.nama}">Nama Universitas</td>
			       	<td class="text-center">
			       		<a th:href="'/peserta?nomor='+  ${peserta.nomor}" class="btn btn-primary btn-sm"> Detail </a>
			       	</td>
		       	</tr>
	       	</tbody>
       	</table>   	
	</body>
</html>