<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body  th:fragment="content">
		<p th:text="'Maaf, Prodi dengan nomor ' + ${kodeProdiInputted} + ' tidak ditemukan.'">Kode Prodi tidak ditemukan!</p>
	</body>
</html>