<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body  th:fragment="content">
		
		<ul class="breadcrumb">
		  <li><a href="/univ">Universitas</a></li>
		  <li class="active"><div th:text="${universitas.nama_univ}" th:remove="tag">Universitas</div></li>
		</ul>
		
		<div class="page-header">
			<h1 th:text="${universitas.kode_univ} + ' - ' + ${universitas.nama_univ}">
				Nama Universitas
			</h1>
			<a th:href="${universitas.url_univ}" th:text="${universitas.url_univ}">univ_url</a>
		</div>
		
		<table id="datatables_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
			<col width="5%"/>
	  		<col width="85%"/>
	  		<col width="10%"/>
			<thead>
	        	<tr>
					<th>Kode</th>
					<th>Nama</th>
			    	<th class="text-center">Menu</th>
				</tr>
			</thead>
			<tbody>
	    		<tr th:each="prodi,iterationStatus: ${daftarProdi}">
		            <td th:text="${prodi.kode_prodi}">ID. 1</td>
			       	<td th:text="${prodi.nama_prodi}">Nama Universitas</td>
			       	<td class="text-center">
			       		<a th:href="'/prodi?kode='+  ${prodi.kode_prodi}" class="btn btn-primary btn-sm"> Detail </a><br/>
			       	</td>
		       	</tr>
	       	</tbody>
       	</table>   	
	</body>
</html>