<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body  th:fragment="content">
		<p th:text="'Maaf, Universitas dengan nomor ' + ${kodeUnivInputted} + ' tidak ditemukan.'">Kode Univ tidak ditemukan!</p>
	</body>
</html>