<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body  th:fragment="content">
		<table class="table" cellspacing="0" width="100%">
		<col width="20%"/>
  		<col width="80%"/>
			<tbody>
	    		<tr>
		            <td>Nomor</td>
			   		<td th:text="${peserta.nomor}">nomor_peserta</td>
		       	</tr>
		       	<tr>
		            <td>Nama</td>
			   		<td th:text="${peserta.nama}">nama_peserta</td>
		       	</tr>
		       	<tr>
		            <td>Tanggal Lahir</td>
			   		<td th:text="${#calendars.format(peserta.tgl_lahir,'dd MMMM yyyy')}">tgl_lagir_peserta</td>
		       	</tr>
		       	<tr>
		            <td>Umur</td>
			   		<td th:text="${peserta.umur}">umur_peserta</td>
		       	</tr>
	       	</tbody>
       	</table>
		
	
		<br/>
		
		<div class="alert alert-success" role="alert">
	      Selamat, anda lulus SBMPTN pada prodi
	      <a th:href="${peserta.prodi.Universitas.url_univ}" style="color: #00f;" >
		      <p th:text="${peserta.prodi.nama_prodi} " th:remove="tag"/>,
		      <p th:text="${peserta.prodi.Universitas.nama_univ}" th:remove="tag"/>
	      </a>
	    </div>
	</body>
</html>