<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body  th:fragment="content">
		<table class="table" cellspacing="0" width="100%">
		<col width="20%"/>
  		<col width="80%"/>
			<tbody>
	    		<tr>
		            <td>Nomor</td>
			   		<td th:text="${peserta.nomor}">nomor_peserta</td>
		       	</tr>
		       	<tr>
		            <td>Nama</td>
			   		<td th:text="${peserta.nama}">nama_peserta</td>
		       	</tr>
		       	<tr>
		            <td>Tanggal Lahir</td>
			   		<td th:text="${#calendars.format(peserta.tgl_lahir,'dd MMMM yyyy')}">tgl_lagir_peserta</td>
		       	</tr>
		       	<tr>
		            <td>Umur</td>
			   		<td th:text="${peserta.umur}">umur_peserta</td>
		       	</tr>
	       	</tbody>
       	</table>
		
		<div class="alert alert-danger" role="alert">
	      Mohon maaf, anda belum lulus SBMPTN
	    </div>
	</body>
</html>