<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Insert title here</title>
		<object th:include="/fragment/container :: head" th:remove="tag" />
		<object th:include="/fragment/datatables :: head" th:remove="tag" />
	</head>
	<body>
		<object th:include="/fragment/container :: navbar_header('universitas')" th:remove="tag" />
		
		<div class="container theme-showcase" role="main">
		
		<ul class="breadcrumb">
		  <li class="active">Universitas</li>
		</ul>
		
		<div class="page-header">
			<h1>
				Daftar Universitas
			</h1>
		</div>

		
		<table id="datatables_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
			<col width="5%"/>
	  		<col width="85%"/>
	  		<col width="10%"/>
			<thead>
	        	<tr>
					<th class="text-center">ID</th>
					<th>Nama Universitas</th>
			    	<th class="text-center">.::.</th>
				</tr>
			</thead>
			<tbody>
	    		<tr th:each="universitas,iterationStatus: ${daftarUniversitas}">
		            <td th:text="${universitas.kode_univ}" class="text-center">ID. 1</td>
			       	<td th:text="${universitas.nama_univ}">Nama Universitas</td>
			       	<td class="text-center">
			       		<a th:href="'/univ/'+  ${universitas.kode_univ}" class="btn btn-primary btn-sm"> Detail </a><br/>
			       	</td>
		       	</tr>
	       	</tbody>
       	</table>
       	
       	</div>
		
		<object th:include="/fragment/container :: common_js" th:remove="tag" />
		<object th:include="/fragment/datatables :: js" th:remove="tag" />
	</body>
</html>